* {
    box-sizing: border-box;
}

@font-face {
    font-family: "sprat-regular";
    src: url("font/Sprat-Regular.otf");
}

@font-face {
    font-family: "sprat-bold";
    src: url("font/Sprat-RegularBold.otf");
}

:root {
    --color-1: #171717;
    --color-2: #E36747;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-2);
    color: var(--color-1);
    font-family: "sprat-regular";
}

article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

footer {
    padding: 10px 10px;
}

h1 {
    font-family: "sprat-bold";
}

.prompt-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prompt {
    font-size: 10vw;
}

.input-container {
    display: flex;
    justify-content: center;
}

#latestDay {
    width: 100px;
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--color-1);
}

.button {
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--color-1);
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-1);
    color: var(--color-2);
}